<!--Left Box - Customer Options and Buttons-->
<section class="leftBox">
  <section class="innerBox">

  <form (submit)="addName()">
    <input [(ngModel)]="newName" name="newName" placeholder="Awesome Computer Scientist">
    <button type="submit">Add</button>
  </form>


  <ul>
    <li *ngFor="let name of nameListService.get() | async">{{name}}</li>
  </ul>

  </section>
</section>

<!--Right Box - Order Options and Buttons-->
<section class="rightBox">
  <section class="innerBox">

    <form (submit)="addName()">
      <input [(ngModel)]="newName" name="newName" placeholder="Awesome Computer Scientist">
      <button type="submit">Add</button>
    </form>


    <ul>
      <li *ngFor="let name of nameListService.get() | async">{{name}}</li>
    </ul>

  </section>
</section>

