:host {
  display: block;
  padding: 0 16px;
}

input {
  width: 250px;
}

ul {
  list-style-type: none;
  padding: 0 0 0 8px;
}

.leftBox {
  float: left;
  width: 50%;
  height: 100%;
}

.rightBox {
  float: right;
  width: 50%;
  height: 100%;
}

.innerBox {
  margin : 10px;
  padding: 10px;
  border: solid black 1px;  
}
