:host {
  display: block;
  padding: 0 16px;
}

/*input {
  width: 250px;
}*/

ul {
  list-style-type: none;
  padding: 0 0 0 8px;
}


.leftBox {
  float: left;
  width: 50%;
}

.rightBox {
  float: right;
  width: 50%;
}

.innerBox {
  margin : 5px;
  padding: 5px;
  height: calc(100vh - 200px);
  border: solid black 1px;
}

