<!--Left Box - Customer Options and Buttons-->
<section class="leftBox">
  <section class="innerBox">

    <h1>CUSTOMERS</h1>

    <button type="button">New Customer</button>

    <button type="button">Search Customers</button>

    <button type="button">All Customers</button>

    <table>
      <ul>
        <li *ngFor="let name of nameListService.get() | async">{{name}}</li>
      </ul>
    </table>

  </section>
</section>

<!--Right Box - Order Options and Buttons-->
<section class="rightBox">
  <section class="innerBox">

    <h1>ORDERS</h1>

    <form (submit)="addName()">
      <input [(ngModel)]="newName" name="newName" placeholder="Awesome Computer Scientist">
      <button type="submit">Add</button>
    </form>


    <ul>
      <li *ngFor="let name of nameListService.get() | async">{{name}}</li>
    </ul>

  </section>
</section>

