<section class="container-fluid">
  <section class="row">
   

    <!--The Content Toggle Goes Here-->
    <div class= "col-md-10 main">

      <!--Employee Management Tab-->
      <div *ngIf="isSideTab(2)">
        <admin-em></admin-em>       
      </div>
    </div>
     <div class= "col-md-2 sidebar">
      <div class='nav' style="padding-bottom: 20px;">
        
        <ul class="nav nav-sidebar">
          <li [ngClass]="{active: isSideTab(0)}" (click)="changeSideTab(0)"><a>General Reports</a></li>
          <li [ngClass]="{active: isSideTab(1)}" (click)="changeSideTab(1)"><a>Dated Reports</a></li>
        </ul>

        <ul class="nav nav-sidebar">
          <li [ngClass]="{active: isSideTab(2)}"  (click)="changeSideTab(2)"><a>Employee Management</a></li>
        </ul>

      </div>
    </div>
  </section>
</section>
