<section class="container-fluid">
  <section class="row">
    <div class= "col-md-4 sidebar">

      <div class='nav' style="padding-bottom: 20px;">
        <!--Find Retail Order-->
        <div class='searchContainer'>
          <label for="exampleSelect1">Find By Retail Order</label>
          <input [(ngModel)]="asyncSelected"
                [typeahead]="getAsyncData(getContext())"
                (typeaheadLoading)="changeTypeaheadLoading($event)"
                (typeaheadNoResults)="changeTypeaheadNoResults($event)"
                (typeaheadOnSelect)="typeaheadOnSelect($event)"
                [typeaheadOptionsLimit]="7"
                placeholder="Retail Order Number"
                class="form-control">
          <div *ngIf="typeaheadLoading===true">
              <i class="glyphicon glyphicon-refresh ng-hide" style=""></i>
          </div>
          <div *ngIf="typeaheadNoResults===true" class="" style="">
              <i class="glyphicon glyphicon-remove"></i> No Results Found
          </div>
        </div>

        <!--Find wholesale order-->
        <div class='searchContainer'>
          <label for="exampleSelect1">Find By Wholesale Order</label>
          <input [(ngModel)]="asyncSelected"
                [typeahead]="getAsyncData(getContext())"
                (typeaheadLoading)="changeTypeaheadLoading($event)"
                (typeaheadNoResults)="changeTypeaheadNoResults($event)"
                (typeaheadOnSelect)="typeaheadOnSelect($event)"
                [typeaheadOptionsLimit]="7"
                placeholder="Wholesale Order Number"
                class="form-control">
          <div *ngIf="typeaheadLoading===true">
              <i class="glyphicon glyphicon-refresh ng-hide" style=""></i>
          </div>
          <div *ngIf="typeaheadNoResults===true" class="" style="">
              <i class="glyphicon glyphicon-remove"></i> No Results Found
          </div>
        </div>

        <!--Find By PO Number-->
        <div class='searchContainer'>
          <label for="exampleSelect1">Find By PO number</label>
          <input [(ngModel)]="asyncSelected"
                [typeahead]="getAsyncData(getContext())"
                (typeaheadLoading)="changeTypeaheadLoading($event)"
                (typeaheadNoResults)="changeTypeaheadNoResults($event)"
                (typeaheadOnSelect)="typeaheadOnSelect($event)"
                [typeaheadOptionsLimit]="7"
                placeholder="PO Number"
                class="form-control">
          <div *ngIf="typeaheadLoading===true">
              <i class="glyphicon glyphicon-refresh ng-hide" style=""></i>
          </div>
          <div *ngIf="typeaheadNoResults===true" class="" style="">
              <i class="glyphicon glyphicon-remove"></i> No Results Found
          </div>
        </div>
        
        <button class='btn btn-default rightFindButton' type="button">Submit</button>
      </div>

      <!--New Component for the Recent Orders Display-->
      <label for="recentOrdersTable">Recent Orders</label>
      <div class="tableContainer">
        <table class="table table-hover">
          <tbody>
            <tr>
              <td>John</td>
              <td>Doe</td>
              <td>john@example.com</td>
            </tr>
            <tr>
              <td>Mary</td>
              <td>Moe</td>
              <td>mary@example.com</td>
            </tr>
            <tr>
              <td>July</td>
              <td>Dooley</td>
              <td>july@example.com</td>
            </tr>
            <tr>
              <td>July</td>
              <td>Dooley</td>
              <td>july@example.com</td>
            </tr>
            <tr>
              <td>July</td>
              <td>Dooley</td>
              <td>july@example.com</td>
            </tr>
            <tr>
              <td>July</td>
              <td>Dooley</td>
              <td>july@example.com</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>

    <div class= "col-md-8 main">

      <!--The Content Toggle Goes Here-->

    </div>
  </section>
</section>
