<section class="container-fluid">
  <section class="row">
    <div class= "col-md-4 sidebar">
      <div class='nav' style="padding-bottom: 20px;">
        

        <!--Find Retail Order-->
        <div class='searchContainer'>
          <label for="exampleSelect1">Find By Retail Order</label>
          <div class="input-group">
            <input [(ngModel)]="asyncSelected"
                  [typeahead]="getAsyncData(getContext())"
                  (typeaheadLoading)="changeTypeaheadLoading($event)"
                  (typeaheadNoResults)="changeTypeaheadNoResults($event)"
                  (typeaheadOnSelect)="typeaheadOnSelect($event)"
                  [typeaheadOptionsLimit]="7"
                  placeholder="Retail Order Number"
                  class="form-control"
                  type='text'>
            <span class="input-group-btn">
              <button class="btn btn-default btn-group-fix" type="button">Go!</button>
            </span>
          </div>

          <div *ngIf="typeaheadLoading===true">
              <i class="glyphicon glyphicon-refresh ng-hide" style=""></i>
          </div>
          <div *ngIf="typeaheadNoResults===true" class="" style="">
              <i class="glyphicon glyphicon-remove"></i> No Results Found
          </div>
        </div>

        <!--Find wholesale order-->
        <div class='searchContainer'>
          <label for="exampleSelect1">Find By Wholesale Order</label>
          <div class="input-group">
            <input [(ngModel)]="asyncSelected"
                  [typeahead]="getAsyncData(getContext())"
                  (typeaheadLoading)="changeTypeaheadLoading($event)"
                  (typeaheadNoResults)="changeTypeaheadNoResults($event)"
                  (typeaheadOnSelect)="typeaheadOnSelect($event)"
                  [typeaheadOptionsLimit]="7"
                  placeholder="Wholesale Order Number"
                  class="form-control"
                  type='text'>
            <span class="input-group-btn">
              <button class="btn btn-default btn-group-fix" type="button">Go!</button>
            </span>
          </div>
          <div *ngIf="typeaheadLoading===true">
              <i class="glyphicon glyphicon-refresh ng-hide" style=""></i>
          </div>
          <div *ngIf="typeaheadNoResults===true" class="" style="">
              <i class="glyphicon glyphicon-remove"></i> No Results Found
          </div>
        </div>

        <!--Find By PO Number-->
        <div class='searchContainer'>
          <label for="exampleSelect1">Find By PO number</label>
          <div class="input-group">
            <input [(ngModel)]="asyncSelected"
                  [typeahead]="getAsyncData(getContext())"
                  (typeaheadLoading)="changeTypeaheadLoading($event)"
                  (typeaheadNoResults)="changeTypeaheadNoResults($event)"
                  (typeaheadOnSelect)="typeaheadOnSelect($event)"
                  [typeaheadOptionsLimit]="7"
                  placeholder="PO Number"
                  class="form-control"
                  type='text'>
            <span class="input-group-btn">
              <button class="btn btn-default btn-group-fix" type="button">Go!</button>
            </span>
          </div>
          <div *ngIf="typeaheadLoading===true">
              <i class="glyphicon glyphicon-refresh ng-hide" style=""></i>
          </div>
          <div *ngIf="typeaheadNoResults===true" class="" style="">
              <i class="glyphicon glyphicon-remove"></i> No Results Found
          </div>
        </div>
      </div>

      <!--New Component for the Recent Orders Display-->
      <label for="recentOrdersTable">Recent Orders</label>
      <div class="tableContainer">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>ID</th>
              <th>Date</th>
              <th>Status</th>
              <th>Firstname</th>
              <th>Surname</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let o of recentOrders">
              <td>{{o.id}}</td>
              <td>{{o.date}}</td>
              <td>{{o.status}}</td>
              <td>{{o.firstname}}</td>
              <td>{{o.lastname}}</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>

    <div class= "col-md-offset-4 col-md-8 main">

      <!--The Content Toggle Goes Here-->
      <div class="mainSubContainer">
          <h4 *ngIf="!orderSelected">Select an order on the left</h4>
          <order-single *ngIf="orderSelected" [orderId]="orderId"></order-single>
      </div>

    </div>
  </section>
</section>
